// re-use default breakpoints from purecss.io
media-sm = 35.5em
media-sm-ident = 'sm';
media-md = 48em
media-md-ident = 'md';
media-lg = 64em
media-lg-ident = 'lg';
media-xl = 80em
media-xl-ident = 'xl';

